*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #212121);
}
.wrapper
{
    width: 100%;
    max-width: 440px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
    position: absolute;
}
.wrapper h1
{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.wrapper .input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    background: #edeef0;
    margin: 30px 0;
    border-radius: 40px;
}
.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}


.input-box i
{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px
}
.wrapper .btn
{
    width: 100%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.wrapper .register-link
{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a
{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover
{
    text-decoration: underline;
}